<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallet"
        tools:targetApi="31">
        <activity
            android:name=".AyrintiActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".GiderAl"
            android:exported="false"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".GiderActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".GelirActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>